<div id="<%= dom_id author %>">
  
  <p>
    
    <%= image_tag author.profile_picture,style: "height:5vw;width:5vw;" if author.profile_picture.attached? %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= author.address %>
  </p>
  <p>
    <strong>Total Books:</strong>
    <%= author.books.count %>
  </p>

</div>
