<%= link_to "Authors",authors_path%>
<%= link_to "New book",new_book_path%>
<% @books.each do |a| %>
   <p><h6> BOOK: <%= a.name%></h6>
   AUTHOR: 
  <%= Author.find(a.author_id).name%></p>
  <br>
  <% a.cover_photos.each do |image|%>
  <%= image_tag image,style: "height:10vw;width:10vw;" if a.cover_photos.attached? %>
  <%end%>
  <br>
<%end%>